In [1]:
from splinter import Browser
from bs4 import BeautifulSoup
from urllib.parse import urljoin
import pandas as pd

In [2]:
#https://splinter.readthedocs.io/en/latest/drivers/chrome.html
!which chromedriver

/usr/local/bin/chromedriver

In [3]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

Step 1 - Scraping

In [4]:
mars_url = "https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest"
#url = "https://mars.nasa.gov/news/"
browser.visit(mars_url)
html = browser.html
soup = BeautifulSoup(html, "html.parser")
#print(soup.prettify())

In [5]:
news_title = soup.find("div", class_="content_title").text
news_p = soup.find("div", class_="article_teaser_body").text
print(news_title)
print(news_p)

The 'Claw Game' on Mars: NASA InSight Plays to Win
NASA's InSight lander will be the first mission to use a robotic arm to grasp instruments from the spacecraft and place them on the surface of another planet.

JPL Mars Space Images - Featured Image

In [6]:
jpl_url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(jpl_url)
html = browser.html
soup = BeautifulSoup(html, "html.parser")
#print(soup.prettify())

jpg = soup.find('a', class_="button fancybox")['data-fancybox-href']
featured_image_url = urljoin(jpl_url, jpg)
featured_image_url

'https://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA19346_ip.jpg'

Mars Weather

In [7]:
mars_weather_url = "https://twitter.com/marswxreport?lang=en"
browser.visit(mars_weather_url)
html = browser.html
soup = BeautifulSoup(html, "html.parser")


p_weather = soup.find_all('p', class_= ["tweet-text"])
mars_weather = p_weather[1].text
mars_weather

'Sol 2174 (2018-09-17), high -22C/-7F, low -68C/-90F, pressure at 8.96 hPa, daylight 05:45-18:01'

Mars Facts

In [10]:
mars_fact = "https://space-facts.com/mars/"
browser.visit(mars_fact)
html = browser.html
soup = BeautifulSoup(html, "html.parser")

tables = pd.read_html(mars_fact)
tables

type(tables)
df = tables[0]
df.columns = [" ","Value"]
mars_facts_table = df
mars_facts_table

                                                 Value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

Mars Hemispheres

[<td class="column-1"><strong>Equatorial Diameter:</strong></td>,
 <td class="column-2">6,792 km<br/>
 </td>,
 <td class="column-1"><strong>Polar Diameter:</strong></td>,
 <td class="column-2">6,752 km<br/>
 </td>,
 <td class="column-1"><strong>Mass:</strong></td>,
 <td class="column-2">6.42 x 10^23 kg (10.7% Earth)</td>,
 <td class="column-1"><strong>Moons:</strong></td>,
 <td class="column-2">2 (<a href="https://space-facts.com/phobos/">Phobos</a> &amp; <a href="https://space-facts.com/deimos/">Deimos</a>)</td>,
 <td class="column-1"><strong>Orbit Distance:</strong></td>,
 <td class="column-2">227,943,824 km (1.52 AU)</td>,
 <td class="column-1"><strong>Orbit Period:</strong></td>,
 <td class="column-2">687 days (1.9 years)<br/>
 </td>,
 <td class="column-1"><strong>Surface Temperature: </strong></td>,
 <td class="column-2">-153 to 20 °C</td>,
 <td class="column-1"><strong>First Record:</strong></td>,
 <td class="column-2">2nd millennium BC</td>,
 <td class="column-1"><strong>Recorded By:</strong></td>,
 <td class="column-2">Egyptian astronomers</td>]