In [14]:
import pandas as pd
#location=
df= pd.read_csv(("Resources/election_data.csv")) 
df.head()

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan

In [24]:
df.describe()

           Voter ID
count  3.521001e+06
mean   1.500082e+07
std    2.886765e+06
min    1.000000e+07
25%    1.250072e+07
50%    1.500198e+07
75%    1.750010e+07
max    2.000000e+07

In [71]:
total_votes = df["Voter ID"].count()
total_votes

3521001

In [72]:
candidates = df["Candidate"].value_counts()
candidates

Khan        2218231
Correy       704200
Li           492940
O'Tooley     105630
Name: Candidate, dtype: int64

In [118]:
candidates.max()

2218231

In [166]:
candidates_percent = candidates / total_votes * 100
candidates_percent

Khan        63.000011
Correy      19.999994
Li          13.999996
O'Tooley     2.999999
Name: Candidate, dtype: float64

In [171]:
#file_df["avg_cost"]

In [196]:
print("Election Results")
print("--------------------------")

print("Total Votes: " + str(total_votes))
print(round(candidates_percent))
print(candidates)
print("Winner: Khan")

Election Results
--------------------------
Total Votes: 3521001
Khan        63.0
Correy      20.0
Li          14.0
O'Tooley     3.0
Name: Candidate, dtype: float64
Khan        2218231
Correy       704200
Li           492940
O'Tooley     105630
Name: Candidate, dtype: int64
Winner: Khan

In [214]:
file_txt ="Election Results \n"
file_txt+="--------------------------\n"
file_txt+="Total Votes: " + str(total_votes) +"\n"
file_txt+="Khan        63.0 % (2218231)\n"
file_txt+="Correy      20.0 % (704200)\n"
file_txt+="Li          14.0 % (492940)\n"
file_txt+="O'Tooley     3.0 % (105630)\n"
file_txt+="----------------------------\n"
file_txt+="Winner : Khan"
print (file_txt)

with open("Py_Poll.txt", "w") as txt_file:
    txt_file.write(file_txt)

Election Results
--------------------------
Total Votes: 3521001
Khan        63.0 % (2218231)
Correy      20.0 % (704200)
Li          14.0 % (492940)
O'Tooley     3.0 % (105630)
----------------------------
Winner : Khan